<p id="notice"><%= notice %></p>



<% content_for :admin do %>
  <%= "Fake news:  You are an Admin!" %>
<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Password digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td><%= user.email %></td>

        <td><%= user.password_digest %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_user_path %>

<% end %>

<% content_for :lecturer do %>
  <P><%= "Fake news:  You are an Lecturer!" %></P>
  <p><%= "Fake news:  This is the User index for Lecturer!" %></p>
<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= current_user.password_digest %>
</p>
 <%= link_to 'Show', current_user %>|
       <%= link_to 'Edit', edit_user_path(current_user) %>  
<% end %>

<% content_for :student do %>
  <p><%= "Fake news:  You are an Student!" %></p>
  <p><%= "Fake news:  This is the User index for Student!" %></p>
  <br>
    <p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

    <p>
  <strong>Role:</strong>
  <%= current_user.role %>
</p>


<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= current_user.password_digest %>
</p>

 <%= link_to 'Show', current_user %>|
       <%= link_to 'Edit', edit_user_path(current_user) %>

<% end %>
