


<% content_for :admin do %>
  <%= "Fake news:  You are an Admin!" %>

<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>

<br>


<% end %>

<% content_for :lecturer do %>
  <P><%= "Fake news:  You are an Lecturer!" %></P>
  <p><%= "Fake news:  This is the User Create Page for Lecturer!" %></p>
  <P><%= "So there is nothing here. T_T & LOL" %></P>
  <%= link_to 'Back-tobefix', users_path %>
<% end %>

<% content_for :student do %>
  <p><%= "Fake news:  You are an Student!" %></p>
  <p><%= "Fake news:  This is the User Create Page for Student!" %></p>
  <P><%= "So there is nothing here. T_T & LOL" %></P>
  <%= link_to 'Back-tobefix', users_path %>
<% end %>
