<p id="notice"><%= notice %></p>


<% content_for :admin do %>
  <%= "Fake news:  You are an Admin!" %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
 
<% end %>



<% content_for :lecturer do %>
  <%= "Fake news:  You are an Lecturer!" %>

  <p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= current_user.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= current_user.password_digest %>
</p>
<br>
<%= link_to 'Edit', edit_user_path(current_user) %> |<%= link_to 'Back', users_path %>

<% end %>



<% content_for :student do %>
  <%= "Fake news:  You are an Student!" %>
  <br>
    <% if current_user != User.find(params[:id]) %>
      <strong><%= "Do not sneak around please."%></strong>
      <strong><%= "Return to your own infomation page."%></strong>

    <% end %>
  <p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= current_user.role %>
</p>


<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= current_user.password_digest %>
</p>
<br>



<br>

<%= link_to 'Edit', edit_user_path(current_user) %> |<%= link_to 'Back', users_path %>
<% end %>

