
<% content_for :admin do %>
  <%= "Fake news:  You are an Admin!" %>
  <br>

<h1>New Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Back', courses_path %>
<br>
<% end %>


<% content_for :lecturer do %>
  <P><%= "Fake news:  You are an Lecturer!" %></P>
  <p><%= "Fake news:  This is the Courses Create page for Lecturer!" %></p>
    <br>

    <h1>New Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Back', courses_path %>
<br>

<% end %>


<% content_for :student do %>
  <p><%= "Fake news:  You are an Student!" %></p>
  <p><%= "Fake news:  This is the Courses Create page for Student!" %></p>
  <P><%= "So there is nothing here. T_T & LOL" %></P>
  <br>
  <%= link_to 'Back', courses_path %>
<br>

<% end %>