<p id="notice"><%= notice %></p>



<% content_for :admin do %>
  <%= "Fake news:  You are an Admin!" %>
  <br>
  <p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
<br>
<% end %>

<% content_for :lecturer do %>
  <P><%= "Fake news:  You are an Lecturer!" %></P>
  <p><%= "Fake news:  This is the Courses Show page for Lecturer!" %></p>
    <br>
    <p>
  <strong>Name:</strong>
  <%= @course.name %>
	</p>
	<%= link_to 'Edit', edit_course_path(@course) %> |
	<%= link_to 'Back', courses_path %>
	<br>
<% end %>


<% content_for :student do %>
  <p><%= "Fake news:  You are an Student!" %></p>
  <p><%= "Fake news:  This is the Courses Show page for Student!" %></p>
  <br>
  <p>
   
  <strong>Name:</strong>
  <%= @course.name %>
  </p>


	<%= link_to 'Back', courses_path %>
	<br>
<% end %>
